legend.form {
  width: auto;
}

body {
  margin: 20px;
  font-family: 'Indie Flower', cursive;
  font-size: 11px;
}

div.row {
  margin: 10px;
}

.tooltip>.tooltip-inner {
  color: black;
  background-color: lightgrey;
}

.tooltip .arrow::before {
  background-color: transparent;
  border-bottom-color: lightgrey !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#grid-1 {
  display: flex;
  margin-left: 15px;
}

.grid-item {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  margin: 5px;
}

.grid-item-background {
  background: #aeadf0;
}

.text-placeholder {
  font-style: italic;
  text-decoration: underline;
  margin-left: 15px;
  font-size: 20px;
}

.text-placeholder.numeric {
  color: violet;
  margin-left: 15px;
  font-size: 20px;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.popup {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 20%;
  height: 30%;
  padding: 5px;
  box-sizing: content-box;
  background: rgba(132, 121, 121, 0.63);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.popup.visible {
  display: block;
}

#closePopupButton {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
}

.circle-container {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #706f6f;
  border-radius: 50%;
  background: #f8c9d1;
}

.circle.odd {
  background: #f1f8c9;
}

body, input, button {
  font: 16px Arial, Helvetica, sans-serif;
}

#ball {
  position: relative;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #706f6f;
  border-radius: 50%;
  background: #f1f8c9;
  transition: bottom .3s, left .3s;
}

form label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

form label span {
  width: 90px;
  max-width: 100%;
}

input {
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #333;
}

input:focus {
  box-shadow: 0 2px 3px 0 #a2a2a2;
  outline: none;
}

input.invalid {
  border-color: tomato;
}

fieldset {
  padding: 5px;
}

input[type="submit"],
button {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  outline: none;
  background: rgba(0, 2, 95, 0.596);
  color: #fff;
  text-align: center;
  font-size: 18px;
}

input[type="submit"]:hover,
button:hover {
  box-shadow: 0 2px 3px 0 #a2a2a2;
}
body,
input,
button {
  font: 16px Arial, Helvetica, sans-serif;
}

.user {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px dotted #5b5b5b;
  color: #333;
}

.user-email {
  min-width: 300px;
  margin: 5px 0;
}

.user-name {
  width: 100%;
  margin: 5px 0 0;
  font-size: 20px;
  color: #1e6db3;
}

.user-address {
  margin: 5px 0;
}

.slide h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: rgb(233, 218, 218);
  border: 1px solid #797979;
  margin: 10px;
  color: #797979;
  font-size: 25px;
  font-weight: 600;
}