legend.form {
  width: auto;
}

body {
  margin: 20px;
  font-family: 'Indie Flower', cursive;
  font-size: 11px;
}

div.row {
  margin: 10px;
}

.tooltip>.tooltip-inner {
  color: black;
  background-color: lightgrey;
}

.tooltip .arrow::before {
  background-color: transparent;
  border-bottom-color: lightgrey !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#grid-1 {
  display: flex;
  margin-left: 15px;
}

.grid-item {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  margin: 5px;
}

.grid-item-background {
  background: #aeadf0;
}

.text-placeholder {
  font-style: italic;
  text-decoration: underline;
  margin-left: 15px;
  font-size: 20px;
}

.text-placeholder.numeric {
  color: violet;
  margin-left: 15px;
  font-size: 20px;
}